



body, html{height:100%; min-height:100%; color:#fff; background:#333}
html.js #seo{ display:none;}

#cache {
    background: #000;
    -webkit-transition: all 1.2s ease-in-out;
    -moz-transition: all 1.2s ease-in-out;
    -o-transition: all 1.2s ease-in-out;
    transition: all 1.2s ease-in-out;
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: fixed
    }

#cache.invisible {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0
    }


/* LAYOUT */


header{ height:60px; width:100%; background:#000;  position:fixed; z-index:1; font-size:18px; }
footer{ height:55px; width:100%; background:#000; bottom:0px; position:fixed;}
section#home{ 
	position:relative; 
	height:100%; 
	background:#f00; 
	z-index:0;
	height:600px; /* !!! to adjust dynamically ??*/
	top:70px;
	}
#main{
	position:absolute;  height:100%;	
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out; 
	}


/* HEADER */
header nav{ padding: 10px 15px; }
header nav a.bt{ padding:  5px 10px; background:#777; color:#eee; float:left; text-decoration:none;}
header nav a:hover{ color:#fff; background:#444;}
header .logo, header nav a.btInfo{ float:right; }

#fade_l, #fade_r{ width:40px;  z-index:10; position:fixed; height:100%; opacity:0.6; }
#fade_l{left:0px; background:url('../img/fade_l.png'); }
#fade_r{right:0px; background:url('../img/fade_r.png'); }

/* GALLERY */
#home nav{ 
	height:100%; background:#0f0; float:left; 
	width:200px; margin-right:5px; 
	padding-left:20px;
	}
#home nav a{ 
	display:block; text-decoration:none;
	color:#555;
	padding:5px 10px ;
	font-size:18px;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
 }
#home nav a.active{ color:#fff; background:#000;}
.gallery img{ 
	height:100%; margin-right:5px; 
	 white-space:nowrap;
	float:left; 
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	}
.gallery img.loading{opacity:0;  }
.gallery{ 
	display:inline; float:left; 
	position:absolute; height:100%;  
	width:2900px;
	white-space:nowrap;
	}
	
	
	
	
/* INFO */
#main{ 
	height:600px;  
	background:#f00;
	
	}
section#info{ width:100%; height:600px; background:#00f; position:absolute; top:800px; }

body.info #main_scroll{ margin-top: -700px; /* TO UPDATE DYNAMICALLY!! */
	}
body.col #main_scroll{ margin-top: 0px; }

#main_scroll{

	 position:relative;
	-webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

html{ overflow-y:hidden; }



/* FOOTER */
footer{ padding-left:10px;}
footer p{ display:block; float:left; margin-right:50px;}


