

<nav>
  
  <% for ( var i = 0; i < gal.length; i++ ) { %>
  <a href="/col/<%= gal[i].attr('id') %>">
    <span class="season"><%= gal[i].attr('season') %></span>
    <span class="year"><%= gal[i].attr('year') %></span>
  </a>
  <% } %>
  
  <!-- 
  <a href="/col/fall_2006">
    <span class="season">fall</span>
    <span class="year">2006</span>
  </a>
  
  <a href="/col/fall_2011">
    <span class="season">fall</span>
    <span class="year">2011</span>
  </a>
  
  <a href="/col/fall_2011">
    <span class="season">fall</span>
    <span class="year">2011</span>
  </a>
  
  <a href="/col/fall_2011">
    <span class="season">fall</span>
    <span class="year">2011</span>
  </a>
  
  <a href="/col/fall_2011">
    <span class="season">fall</span>
    <span class="year">2011</span>
  </a>
  -->
  
</nav>

<div class="gallery">
  gallery?!
</div>