

		<div class="infos vcard" item-type="http://microformats.org/profile/hcard">
			
			<a class="fn org url" href="http://www.micheldesjardins.com" title="Slinc Communications">
				<span class="organization-name green">Michel D</span><br/>
			</a>
			

			<span class="street-address">45 Richardson, suite 444</span>, <span class="locality">Montreal</span>
			<span class="region">(QC)</span>,<br/>
			<span class="postal-code">H3K 1G6</span>, <b class="country">Canada</b><br/>
			<span class="tel">Telephone: <span class="value">+1 (514) 11111111</span></span>

		</div>
		