

		<div class="infos vcard" item-type="http://microformats.org/profile/hcard">
			
			<a class="fn org url" href="http://www.micheldesjardins.com" title="Michel Desjardins">
				<span class="organization-name">Michel D</span><br/>
			</a>
			

			<span class="street-address">44</span>, <span class="locality">Montreal</span>
			<span class="region">(QC)</span>,<br/>
			<span class="postal-code">HHH 3k3</span>, <b class="country">Canada</b><br/>
			<span class="tel">Telephone: <span class="value">+1 (514) 11111111</span></span>

		</div>
		