<h1>Biographie</h1>

Michel Desjardins, la passion tranquille de la mode au Québec.
 
<p>
Pour Michel Desjardins, la mode doit séduire au lieu de provoquer. Cet artisan de style plutôt que de tendances ne cesse de renouveler la tradition avec finesse et subtilité depuis plus de 20 ans. Ses collections rendent hommage à l’élégance grâce à la rigueur des coupes et la richesse des matières. Au fil des ans, il a su se distinguer par son souci du détail qui rend tout ce qu’il fait absolument indémodable.
 </p><p>
Après avoir débuté sa carrière auprès de John Warden, Michel Robichaud et Léo Chevalier, Michel Desjardins ira perfectionner son art à Paris. Diplômé de l’école de la Chambre syndicale de la Couture Parisienne, il entre alors à la maison de Couture Givenchy où il dessine autant pour le prêt-à-porter que pour la Haute Couture.
  </p><p>
En 2009, Michel Desjardins ouvre sa boutique au 2155 rue Crescent où il crée ses collections prêt-à-porter et  ses pièces exclusives.
  </p>

 <p>
   <strong>Honneurs</strong><br/>
   En 1990, il est choisi pour représenter le Québec au 7ième Festival du lin à Paris. En novembre 1993, il est invité par Saga Furs of Scandinavia à un séminaire sur la fourrure à Copenhague alors qu’en 1997, il remporte le premier prix du North American Fur & Fashion Competition. En 1998, il participe à l’exposition Mode & Collection au Musée de la Civilisation à Québec et se mérite la Griffe d’Or en 1995 et en 1998. De plus, il est quatre fois récipiendaire d’une bourse de la Fondation Mode Matinée.
  </p><p>
<strong>Associations</strong><br/>
Depuis quelques années, Michel Desjardins s’associe à plusieurs causes. En 2008, il collabore avec la Fondation Guzzo qui amasse des fonds pour la recherche contre le cancer. Depuis 2009, il est impliqué auprès du Logis Rose-Virginie qui vient en aide aux femmes en difficulté.

 </p>